.page {
    justify-content: center;
    margin: 0 auto;
    font-family: "inter", Arial, Helvetica, sans-serif;
    color: black;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(0.25turn, #3f87a6, #b3baac, #3f87a6);
}

/* background: rgb(2, 0, 36);
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(68, 255, 225, 1) 35%, rgba(0, 212, 255, 1) 100%); */
@media screen and (max-width: 1280px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 880px;
    }
}

@media screen and (max-width: 840px) {
    .page {
        max-width: 620px;
    }
}

@media screen and (max-width: 620px) {
    .page {
        max-width: 520px;
    }
}