.title {
    background-color: transparent;
    font-size: 52px;
    text-align: center;
    font-weight: 500;
    border-bottom: 3px solid black;
    padding-bottom: 15px;
    cursor: pointer;
}

.title:hover {
    opacity: .7;
}

@media screen and (max-width: 620px) {
    .title {
        margin: 0;
        font-size: 24px;
    }
}