.header {
  justify-content: center;
  display: flex;
  padding-top: 35px;
  align-content: center;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

@media screen and (max-width: 620px) {
  .header {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}

.hamburger-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  visibility: hidden;
  font-size: 35px;
  color: black;
}

@media screen and (max-width: 620px) {
  .hamburger-button {
    visibility: visible;
  }
}