.container__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    background-color: rgb(2, 50, 50);
    color: white;
    opacity: .95;
    padding: 20px;
}
@media screen and (max-width: 1280px) {
    .container__content {
        font-size: 14px;
    }
}
@media screen and (max-width: 1024px) {
    .container__content {
        font-size: 12px;
    }
}

@media screen and (max-width: 620px) {
    .container__content {
        font-size: 11px;
    }
}