.cards__img {
    width: 150px;
    height: 150px;
    margin: 30px auto;
    object-fit: fill;
}

@media screen and (max-width: 1280px) {
    .cards__img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 880px) {
    .cards__img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 620px) {
    .cards__img {
        align-self: center;
    }
}