.header__title-block {
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 40px;
}

@media screen and (max-width: 620px) {
    .header__title-block {
        border-right: none;
        padding-right: 0px;
    }
}