.page_type_black{
    justify-content: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1280px;
    font-family: "inter", Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}