.footer {
    display: flex;
    margin: auto;
    width: 90%;
    padding-bottom: 50px;
}

@media screen and (max-width: 620px) {
    .footer {
        margin-top: 60px;
        padding: 0;
        padding-bottom: 50px;
    }
}