.footer__column-links {
    list-style-type: none;
    margin: 0;
}

@media screen and (max-width: 840px) {
    .footer__column-links {
        margin: auto;
        padding: 0;
        padding-bottom: 30px;
    }
}